.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.skills h1{
    margin: 20px 0;
    text-transform: capitalize;
}
.skills div{
    width: 80%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 10px;
}